rest:
  api: api/v1

twitch:
  client-id:
  client-secret:
  api-version: helix
  rate-limit-threshold: 5

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/streamerendpoints
    username: root
    password: example
  jpa:
    hibernate:
      ddl-auto: create-drop
server:
  port: 8047